In [2]:
import csv
import re
import pandas as pd
import string

In [ ]:
data = []
temp_data = []
noun_phrase = []

In [1]:
!git clone https://ram-asari:akshith.a%401@github.com/ram-asari/IR_ner_phrase-embedding.git

Cloning into 'IR_ner_phrase-embedding'...
remote: Enumerating objects: 44, done.
remote: Counting objects: 100% (44/44), done.
remote: Compressing objects: 100% (42/42), done.
remote: Total 44 (delta 19), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (44/44), done.

In [ ]:
df1 = pd.read_excel('/content/NER_TWEET_DATA(1).xlsx', sheet_name = 'Rajeev', header=None)
df2 = pd.read_excel('/content/NER_TWEET_DATA(1).xlsx', sheet_name = 'Ramji', header=None)
df3 = pd.read_excel('/content/NER_TWEET_DATA(1).xlsx', sheet_name = 'Ratnesh', header=None)
df4 = pd.read_excel('/content/NER_TWEET_DATA(1).xlsx', sheet_name = 'Ramprasad', header=None)
df5 = pd.read_excel('/content/NER_TWEET_DATA(1).xlsx', sheet_name = 'Pragati', header=None)

In [6]:
df = pd.read_csv('/content/IR_ner_phrase-embedding/NER_tweet_data.csv', header= None)

In [7]:
# df = df1.append(df2)
# df = df.append(df3)
# df = df.append(df4)
# df = df.append(df5)
df = df.sample(frac = 1)

In [11]:
df = df.sample(frac = 1) 
df = df[[1,2,3]]
df.dropna(inplace=True)
df

                                                     1  ...                                                  3
76   Masterstroke to Modiji ne usi din maar diya th...  ...                                      maar diya tha
268  "Jab ye iski biwi, bahu beti ke sath hoga tab ...  ...                                   tab pata chalega
380  So stupid & idiotic that @narendramodi ke #mod...  ...  stupid & idiotic: kuch bhi chutiyaape: present...
215  @TarekFatah saab Mubarak ho! Aap ke efforts ab...  ...                          rang dikhane lage hain :
655  @narendramodi @PMOIndia @arunjaitley ye #GST k...  ...  mehnga bill:bana k de rahe:aap sab kahan:mar g...
..                                                 ...  ...                                                ...
378  @INCIndia Yeh frustration tum logo k chehre pr...  ...  frustration tum logo: chehre pr mujhe: ghaav t...
308  "@KapilSibal what a shame such bheja less, nal...  ...                                       hona hi thaa
645  Kya din aa gaye hai ghatiya WhatsApp jokes twe...  ...                   Kya din aa gaye hai:pad raha hai
594  1 saal pehle aapk bahut videos dekha jisme aap...  ...  ki tarif karte the :  kar k thakk gaye : ka hi...
631  "kahan gaye wo log jo ""10 things to know blah...  ...              kahan gaye wo log:kuchh leekho saalon

[895 rows x 3 columns]

In [ ]:
df = df[df[2] != 0]

In [ ]:
df_list = df.values.tolist()

In [ ]:
df_list[5][2].split(':')

['abhi_haal hi_m', ' fake rajput']

In [ ]:
train_data  = df_list[:627] 
val_data = df_list[627:]

# Phrases dictionary

In [ ]:
punk = string.punctuation.replace('-', '').replace('_', '')
punk = punk+'…'
phrase_dict = {}
ph_count = 0

for line in df_list:

  for phrase in line[2].split(':'):
    table = phrase.maketrans(punk, ' '*len(punk))
    cleaned = phrase.translate(table)
    cleaned = re.sub(r"\s+"," ",cleaned)
    cleaned = cleaned.strip()
    cleaned = cleaned.lower()
    if len(cleaned) > 1:
      if phrase_dict.get(cleaned, -1) == -1:
        phrase_dict[cleaned] = 1
      else:
        phrase_dict[cleaned] += 1

In [ ]:
phrase_count = 0 
for ph, count in phrase_dict.items():
  if count > 5 :
    print(ph)
    phrase_count += 1
print(phrase_count)

# CONLL formatting

In [ ]:
tot_data = [train_data, val_data]
punk = string.punctuation.replace('-', '').replace('_', '')
punk = punk+'…'

# for iiii, gen_data in enumerate(tot_data):
#   data = []
with open('/content/ner_conll.txt','w') as write_txt:
  for idx, line in enumerate(df_list):
    cleaned_line = []
    cleaned = line[0]
    if cleaned.find('http') != -1:
      end_idx = 0
      for i in range(cleaned.find('http'), len(cleaned)):
        end_idx = i
        if cleaned[i] == ' ':
          cleaned = cleaned[:cleaned.find('http')]+ cleaned[i:]
          break
      if end_idx == len(cleaned):
        cleaned = cleaned[:cleaned.find('http')]

    table = cleaned.maketrans(punk, ' '*len(punk))
    cleaned = cleaned.translate(table)
    cleaned = re.sub(r"\s+"," ",cleaned)
    cleaned = cleaned.strip()
    cleaned = cleaned.lower()
    data.append(cleaned)
    cleaned_line.append(cleaned)


    table = line[1].maketrans(punk, ' '*len(punk))
    cleaned = line[1].translate(table)
    cleaned = re.sub(r"\s+"," ",cleaned)
    cleaned = cleaned.lower()
    cleaned_line.append(cleaned)

    table = line[2].maketrans(punk, ' '*len(punk))
    cleaned = line[2].translate(table)
    cleaned = re.sub(r"\s+"," ",cleaned)
    cleaned = cleaned.lower()
    cleaned_line.append(cleaned)

    #this is for phrase replacing
    ##############################################
    for i_id, phrase  in enumerate(phrase_dict.items()):
      # print(phrase[0], i_id)
      cleaned_line[0] = cleaned_line[0].replace(phrase[0], 's*s*r^'+str(i_id)) 
      # print(cleaned_line[0])
    ############################################

    write_txt.write("'''")
    write_txt.write('\n')

    for word in cleaned_line[0].lower().split():
      nouns = list(cleaned_line[1].lower().split())
      if word in nouns:
        # data.append(str(idx)+' '+word+' '+'N')
        write_txt.write(str(idx)+' '+word+' '+'N')
        write_txt.write('\n')
      else:
        # data.append(str(idx)+' '+word+' '+'OTH')
        write_txt.write(str(idx)+' '+word+' '+'OTH')
        write_txt.write('\n')

    write_txt.write("'''")
    idx += 1
    write_txt.write('\n')
    write_txt.write('\n')